# Video/source files
*.mkv
*.mp4

# Audio
*.aac
*.mka
*.opus
*.wav
*.flac

# VapourSynth & indexing files
*.bookmarks
*.dgi
*.ffindex
*.index
*.lwi

# Fansub related files
*.ass
*.otf
*.ttf

# Scripts
*comp.*vpy


# Other miscellaneous file types
*.exe
*.glsl
*.hook
*.dll
*.txt
*.svg
*.sfv
*.torrent
*.url


# VS Code directories
.vscode/**
.vspreview/**


# Folders containing other resources or comparisons
Misc/**
Comparisons/**
Source/Audio/**

